.form {
  display: flex;
  padding: 0 30px;
  width: 30%;
}

fieldset {
  display: flex;
  padding: 25px;
  margin: 0;
  flex-direction: column;
}

.text-input {
  width: 98%;
}

.number-input {
  width: 15%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.number-input input {
  width: 100%;
}
