.form {
  display: flex;
  padding: 0 30px;
  width: 30%;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px;
}

.text-input {
  width: 98%;
}

.number-input {
  align-items: center;
  display: flex;
  width: fit-content;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
}

.number-input .attributesValues {
  width: 10%;
}

.number-input .attributesName {
  margin: 0 20px 0 0;
}
